@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-brand: #3b82f6;
}

:root {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  @apply bg-[#f8f9fa] text-slate-900 antialiased;
}

.dark body {
  @apply bg-[#0f172a] text-slate-100;
}

@keyframes shine {
  0% { left: -100%; }
  100% { left: 150%; }
}